:root {
    --color-violet: hsl(257, 40%, 49%);
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
    
body {
    margin: 0; 
    background-color: var(--color-violet);
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    padding: 0 35px;
}
.logo {
    padding-top: 30px;
}
.illustration {
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
}
.hero-grid {
    text-align: center;
    color: white;
}
.hero-grid h2 {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.hero-grid button {
    margin: 10px 0 80px 0;
    color: var(--color-violet);
    padding: 12px 80px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
    background-color: #ffffff;
}
.social-link-grid {
    padding-bottom: 50px;
    text-align: center  ;
}
.social-link-grid a {
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    margin: 5px;
}
.social-link-grid a i{
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(/images/bg-desktop.svg);
    }
    .wrapper {
        padding: 0 50px;
    }
    .logo {
        width: 200px;
        padding-top: 50px;
    }
    .hero-grid {
        display: grid;
        grid-template-columns: 55% 45%;
        text-align: start;
    }
    .illustration {
        max-width: none;
        width: 94%;
        margin-top: 80px;
    }
    .contenido {
        padding: 60px 40px;
    }
    .contenido h2 {
        font-size: 45px;
        /* font-weight: 700; */
    }
    .contenido p {
        font-size: 18px;
    }
    .contenido button {
        padding: 15px 60px;
    }
    .social-link-grid {
        text-align: end;
        padding-right: 40px;
    }
    .social-link-grid a{
        text-align: center;
    }
}